/* .item {
    /* align-items: flex-start; */
/* width: 280px; */
/* margin-bottom: 20px; */

.item {
    text-decoration: none;
}

.items_wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.edit {
    width: 130px;
    /* height: 40px; */
}

.botton_item {
    margin-top: 10px;

}

.filter_color {
    margin-left: 30px;
}

.bag_details {
    font-size: 12px;
}

.instock {
    color: rgb(4, 105, 19);
}

.outofstock {
    color: red;
}

.items_show {
    display: flex;
    justify-content: space-around;
}

.botton_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.up_bag {
    display: flex;
    justify-content: space-around;
}

.item_img {
    margin-top: 20px;
    border: 3px solid rgb(201, 19, 19);
    width: 270px;
    margin-right: 40px;
}

.item_description {
    text-decoration: none;
    color: rgb(95, 30, 30);
    font-weight: 700;
}

.price {
    text-decoration: none;
    font-size: 20px;
}

.add_to_cart {
    width: 220px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(11, 134, 11);
    color: white;
    border: none;
    border-radius: 5px;
}

.select {
    width: 220px;

}

.single_img {
    border: 3px solid rgb(201, 19, 19);
    width: 270px;
    margin-right: 40px;
}

.item_details {
    margin-left: 80px;
    /* margin-top: 80px; */
    display: flex;

}

.in_stock {
    color: greenyellow;
    font-size: 300px;
}

.out_of_stock {
    color: red;
}

.img_bag {
    width: 80px;
}

.bag_table {
    margin-left: 150px;
    margin-top: 30px;
}

th,
td {
    padding: 15px;
}

th {
    font-size: 20px;
    color: rgb(25, 24, 24);
    /* border: 1px solid black; */
}

.bag_tr {
    margin: 40px;
    border-bottom: 1px solid rgb(17, 16, 16);
}

.bg_td,
.bag_th {
    padding-left: 60px;
    padding-right: 60px;
}

/* .log_in_form{

} */

.nav_bar_all {
    margin-bottom: 70px;
}

.edit_item {
    width: 200px;
    height: 30px;
    font-size: 20px;
    background-color: greenyellow;
}

.errModal {
    color: red;
}